Repository databricks/cli, changes with the owners that .github/CODEOWNERS names for each.
All owners: @andrewnester, @anton-107, @denik, @pietern, @shreyas-goenka, @lennartkats-db, @jefferycheng1, @kanterov, @alexott, @nfx

do not change grants as well
  acceptance/bundle/deployment/unbind/grants/databricks.yml.tmpl
  acceptance/bundle/deployment/unbind/grants/out.test.toml
  acceptance/bundle/deployment/unbind/grants/output.txt
  acceptance/bundle/deployment/unbind/grants/script
  acceptance/bundle/deployment/unbind/grants/test.toml
  bundle/deploy/terraform/unbind.go
  libs/testserver/fake_workspace.go
  libs/testserver/handlers.go
  libs/testserver/schemas.go
Owners: @andrewnester, @anton-107, @denik, @pietern, @shreyas-goenka

basic cache cleanup in background
  libs/cache/cleanup.go
  libs/cache/cleanup_test.go
  libs/cache/file_cache.go
Owners: @andrewnester, @anton-107, @denik, @pietern, @shreyas-goenka

Mark output-only fields with doNotSuggest (#3599)
  bundle/docsgen/main.go
  bundle/docsgen/nodes.go
  bundle/docsgen/nodes_test.go
  bundle/docsgen/output/reference.md
  bundle/docsgen/output/resources.md
  bundle/docsgen/refs.go
  bundle/internal/annotation/descriptor.go
  bundle/internal/schema/annotations.go
  bundle/internal/schema/annotations_openapi.yml
  bundle/internal/schema/parser.go
  bundle/schema/jsonschema.json
  libs/jsonschema/extension.go
Owners: @andrewnester, @anton-107, @denik, @pietern, @shreyas-goenka

fixes
  acceptance/bundle/apps/app_yaml/output.txt
  acceptance/bundle/bundle_tag/id/output.txt
  acceptance/bundle/bundle_tag/url/output.txt
  acceptance/bundle/bundle_tag/url_ref/out.plan.terraform.txt
  acceptance/bundle/deploy/jobs/task-source/output.txt
  acceptance/bundle/deploy/pipeline/auto-approve/output.txt
  acceptance/bundle/deploy/pipeline/recreate/output.txt
  acceptance/bundle/lifecycle/prevent-destroy/out.direct-exp.txt
  acceptance/bundle/lifecycle/prevent-destroy/out.terraform.txt
  acceptance/bundle/plan/no_upload/output.txt
  acceptance/bundle/resource_deps/bad_syntax/out.plan.direct-exp.txt
  acceptance/bundle/resource_deps/create_error/output.txt
  acceptance/bundle/resource_deps/id_chain/output.txt
  acceptance/bundle/resource_deps/job_id/output.txt
  acceptance/bundle/resource_deps/jobs_update/output.txt
  acceptance/bundle/resource_deps/missing_string_field/out.plan.direct-exp.txt
  acceptance/bundle/resource_deps/missing_string_field/out.plan.terraform.txt
  acceptance/bundle/resource_deps/pipelines_recreate/output.txt
  acceptance/bundle/resource_deps/present_ingestion_definition/out.plan.direct-exp.txt
  acceptance/bundle/resource_deps/remote_app_url/output.txt
  acceptance/bundle/resource_deps/remote_field_storage_location/output.txt
  acceptance/bundle/resources/apps/update/output.txt
  acceptance/bundle/resources/jobs/update/output.txt
  acceptance/bundle/resources/pipelines/recreate/change-catalog/output.txt
  acceptance/bundle/resources/pipelines/recreate/change-ingestion-definition/output.txt
  acceptance/bundle/resources/pipelines/recreate/change-storage/output.txt
  acceptance/bundle/resources/schemas/recreate/output.txt
  acceptance/bundle/resources/volumes/change-name/output.txt
  acceptance/bundle/resources/volumes/change-schema-name/output.txt
  acceptance/bundle/resources/volumes/set-storage-location/output.txt
  cmd/bundle/plan.go
Owners: @andrewnester, @anton-107, @denik, @pietern, @shreyas-goenka

Always handle error case at end of function
  libs/dyn/convert/normalize.go
Owners: @andrewnester, @anton-107, @denik, @pietern, @shreyas-goenka

Update test to include cluster source
  libs/databrickscfg/cfgpickers/clusters_test.go
Owners: @andrewnester, @anton-107, @denik, @pietern, @shreyas-goenka

fixes
  cmd/configure/configure.go
  cmd/configure/host.go
  cmd/configure/host_test.go
Owners: @andrewnester, @anton-107, @denik, @pietern, @shreyas-goenka

fix lint and test
  acceptance/bundle/deployment/unbind/grants/out.test.toml
  libs/testserver/schemas.go
Owners: @andrewnester, @anton-107, @denik, @pietern, @shreyas-goenka

remove the ScanInterval setting
  libs/cache/cleanup.go
  libs/cache/cleanup_test.go
Owners: @andrewnester, @anton-107, @denik, @pietern, @shreyas-goenka

Update test to include cluster source
  cmd/labs/project/installer_test.go
Owners: @alexott, @nfx

fix unchanged cout
  acceptance/bundle/apps/app_yaml/output.txt
  acceptance/bundle/bundle_tag/id/output.txt
  acceptance/bundle/bundle_tag/url/output.txt
  acceptance/bundle/bundle_tag/url_ref/out.plan.terraform.txt
  acceptance/bundle/deploy/jobs/task-source/output.txt
  acceptance/bundle/deploy/pipeline/recreate/output.txt
  acceptance/bundle/lifecycle/prevent-destroy/out.direct-exp.txt
  acceptance/bundle/lifecycle/prevent-destroy/out.terraform.txt
  acceptance/bundle/plan/no_upload/output.txt
  acceptance/bundle/resource_deps/bad_syntax/out.plan.direct-exp.txt
  acceptance/bundle/resource_deps/create_error/output.txt
  acceptance/bundle/resource_deps/id_chain/output.txt
  acceptance/bundle/resource_deps/job_id/output.txt
  acceptance/bundle/resource_deps/jobs_update/output.txt
  acceptance/bundle/resource_deps/missing_string_field/out.plan.direct-exp.txt
  acceptance/bundle/resource_deps/missing_string_field/out.plan.terraform.txt
  acceptance/bundle/resource_deps/pipelines_recreate/output.txt
  acceptance/bundle/resource_deps/present_ingestion_definition/out.plan.direct-exp.txt
  acceptance/bundle/resource_deps/remote_app_url/output.txt
  acceptance/bundle/resource_deps/remote_field_storage_location/output.txt
  acceptance/bundle/resources/apps/update/output.txt
  acceptance/bundle/resources/jobs/update/output.txt
  acceptance/bundle/resources/pipelines/recreate/change-catalog/output.txt
  acceptance/bundle/resources/pipelines/recreate/change-ingestion-definition/output.txt
  acceptance/bundle/resources/pipelines/recreate/change-storage/output.txt
  acceptance/bundle/resources/schemas/recreate/output.txt
  acceptance/bundle/resources/volumes/change-name/output.txt
  acceptance/bundle/resources/volumes/change-schema-name/output.txt
  acceptance/bundle/resources/volumes/set-storage-location/output.txt
  cmd/bundle/plan.go
Owners: @andrewnester, @anton-107, @denik, @pietern, @shreyas-goenka

allow http:
  cmd/configure/host.go
  cmd/configure/host_test.go
Owners: @andrewnester, @anton-107, @denik, @pietern, @shreyas-goenka

fixed out.test.toml
  acceptance/bundle/deployment/unbind/grants/out.test.toml
  acceptance/bundle/deployment/unbind/permissions/out.test.toml
Owners: @andrewnester, @anton-107, @denik, @pietern, @shreyas-goenka

explicit switch
  cmd/bundle/plan.go
Owners: @andrewnester, @anton-107, @denik, @pietern, @shreyas-goenka

store expiration time instead of timestamp in a cache entry
  bundle/config/mutator/populate_current_user.go
  libs/cache/cleanup.go
  libs/cache/cleanup_test.go
  libs/cache/expiry_test.go
  libs/cache/file_cache.go
  libs/cache/file_cache_test.go
Owners: @andrewnester, @anton-107, @denik, @pietern, @shreyas-goenka

Enable linter for exhaustive coverage in enum switch statements (#3641)
  .golangci.yaml
  bundle/config/mutator/sync_default_path.go
  bundle/run/job.go
  cmd/labs/project/installer_test.go
  cmd/sync/completion.go
  libs/databrickscfg/cfgpickers/clusters.go
  libs/databrickscfg/cfgpickers/clusters_test.go
  libs/diag/diagnostic.go
  libs/diag/severity.go
  libs/dyn/convert/from_typed.go
  libs/dyn/convert/normalize.go
  libs/dyn/convert/to_typed.go
  libs/dyn/merge/override.go
  libs/dyn/walk.go
  libs/dyn/walk_read_only.go
  libs/flags/json_flag.go
  libs/structs/structdiff/diff.go
  libs/sync/path.go
Owners: @andrewnester, @anton-107, @denik, @pietern, @shreyas-goenka, @alexott, @nfx

.github/CODEOWNERS:

*                         @andrewnester @anton-107 @denik @pietern @shreyas-goenka
/cmd/bundle/bundle.go     @andrewnester @anton-107 @denik @pietern @shreyas-goenka @lennartkats-db
/libs/template/           @andrewnester @anton-107 @denik @pietern @shreyas-goenka @lennartkats-db
/acceptance/pipelines/    @jefferycheng1 @kanterov @lennartkats-db
/cmd/pipelines/           @jefferycheng1 @kanterov @lennartkats-db
/cmd/labs/                @alexott @nfx
